<nav class="white">
    <div class="nav-wrapper container">
        <a href="/recipes" class="brand-logo logo logo--nav center">Grocery Guru</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
            <i class="material-icons">menu</i>
        </a>
        <a href="/cart" class="right nav-cart"><i class="material-icons">shopping_cart</i></a>
        <ul class="sidenav" id="mobile-demo">
            <li> <a href="/recipes" class="black-text"><i class="material-icons">menu_book</i>All Recipes</a></li>
            <li> <a href="/dashboard" class="black-text"><i class="material-icons">person</i>Dashboard</a></li>
            <li> <a href="/recipes/new" class="black-text"><i class="material-icons">add</i>Create Recipe</a></li>
            <li> <a href="/cart" class="black-text"><i class="material-icons">shopping_cart</i>Recipe Cart</a></li>
            <li> <a href="/auth/logout" class="black-text"><i class="material-icons">logout</i>Logout</a></li>
        </ul>
    </div>
</nav>