<nav class="white">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo logo logo--nav center">Grocery Guru</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
            <i class="fas fa-bars"></i>
        </a>
        <a href="/dashboard" class="right nav-cart"><i class="fas fa-cart-shopping"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li> <a href="/stories" class="black-text"><i class="fas fa-users"></i>All Recipes</a></li>
            <li> <a href="/dashboard" class="black-text"><i class="fas fa-utensils"></i>My Recipes</a></li>
            <li> <a href="/dashboard" class="black-text"><i class="fas fa-cart-shopping"></i>Recipe Cart</a></li>
            <li> <a href="/auth/logout" class="black-text"><i class="fas fa-right-from-bracket"></i>Logout</a></li>
        </ul>
    </div>
</nav>