<%- include('partials/_head') %>
<div class="container">
    <div class="section center">
            <h3 class="logo logo--login center">Grocery Guru</h3>
            <p class="lead">Create & share recipes, generate shopping lists</p>
    </div>
    <div class="section row valign-wrapper">
        
        <form class="col m6 center" action="/auth/login" method="POST">
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="error"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="error"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <div class="input-field col s12">
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="input-field col s12">
                <input type="password" name="password" placeholder="Password">
            </div>
            <input class="btn" type="submit" value="Log In">
        </form>
        <div class="col m6 center-align">
            <span>No Account? </span><a class="btn" href="/auth/signup">Sign Up</a>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section features">
        <div class="row">
            <div class="col s12 m4 center">
                        <i class="medium material-icons">menu_book</i>
                        <h5 class="center">Share Your Favorite Recipes</h5>
                        <p>Create and share your best recipes with the world
                        </p>
            </div>
            <div class="col s12 m4 center">
                        <i class="medium material-icons">restaurant</i>
                        <h5 class="center">Browse Recipes</h5>
                        <p>With Grocery Guru you can view public recipes and save your favorites
                        </p>
            </div>
            <div class="col s12 m4 center">
                        <i class="medium material-icons">receipt_long</i>
                        <h5 class="center">Generate Shopping Lists</h5>
                        <p>We make it easy to create shopping lists. No more paper and pen!
                        </p>
            </div>
        </div>
    </div>
</div>
<%- include('partials/_footer') %>
