<div class="container">
    <div class="section center">
            <h3 class="logo logo--login center">Grocery Guru</h3>
            <p class="lead">Create & share recipes, generate shopping lists</p>
    </div>
    <div class="section center">
        <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Log In With Google</a>
    </div>
    <div class="divider"></div>
    <div class="section features">
        <div class="row">
            <div class="col s12 m4 center">
                        <i class="medium material-icons">menu_book</i>
                        <h5 class="center">Share Your Favorite Recipes</h5>
                        <p>Create and share your best recipes with the world
                        </p>
            </div>
            <div class="col s12 m4 center">
                        <i class="medium material-icons">restaurant</i>
                        <h5 class="center">Browse Recipes</h5>
                        <p>With Grocery Guru you can view public recipes and save your favorites
                        </p>
            </div>
            <div class="col s12 m4 center">
                        <i class="medium material-icons">receipt_long</i>
                        <h5 class="center">Generate Shopping Lists</h5>
                        <p>We make it easy to create shopping lists. No more paper and pen!
                        </p>
            </div>
        </div>
    </div>
</div>
