:root {
    --red: #ef233c;
    --light-grey: #edf2f4;
    --grey: #8d99ae;
    --navy: #2b2d42;
}

/* BODY */
body {
    color: var(--navy);
}

/* LOGO */

.logo {
    color: var(--red) !important;
    font-family: 'Bangers', cursive;
}

.logo--nav {
    font-size: 2.5rem !important;
}

.logo--login {
    font-size: 4rem;
}

/* NAV */
.nav-cart {
    color: var(--navy);
}

.sidenav-trigger i {
    color: var(--navy) !important;
    font-size: 2.5rem !important;
}

.sidenav i {
    color: var(--red) !important;
    margin-right: 15px !important;
}

/* LOGIN */
.features {
    margin-top: 2rem;
}


.card .btn-floating {
    background-color: var(--red);
}


/* Recipe Page */
.recipe-image img {
    max-width: 75%;
}
