<div class="row">
    <div class="col s7">
            <h3 class="">Recipe Title</h3>
            <div class="recipe-rating">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </div>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima debitis ad odit nam harum unde vel iusto eum. Nam quod beatae, 
                soluta eius repudiandae provident recusandae ipsa aperiam. Adipisci, harum!
            </p>
            <div class="recipe-image">
                <img src="/img/potatoes.jpeg" alt="">
            </div>
    </div>
    <div class="col s5">
        <h3 class="">Ingredients</h3>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
    </div>

</div>
<div class="divider"></div>
<div class="row">
    <div class="col s7">
    <h3 class="">Instructions</h3>
        <ol>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ol>
    </div>
    <div class="col s5">
        <ul>
            <li>Prep Time: 30 min.</li>
            <li>Cook Time: 30 min.</li>
            <li>Total Time: 1 hour</li>
        </ul>
    </div>
</div>
<div class="fixed-action-btn">
    <span>Add to Cart</span>
    <a href="/stories/add" class="btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">shopping_cart</i>
    </a>
</div>






